:root {
  --color-lightgray: #d3d3d3;
  --color-darkslategray: #696969;
  --color-DarkSeaGreen: #8fbc8f;
  --color-MediumAquaMarine: #66cdaa;
  --color-LightCoral: #f08080;
  --color-LightPink: #ffb6c1;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--color-lightgray);
}

header {
  background-color: var(--color-darkslategray);
  color: #ffffff;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: var(--color-darkslategray);
  color: white;
  border-top: 1px dashed #000000;
}

.past {
  background-color: var(--color-lightgray);
}

.present {
  background: var(--color-LightPink);
}

.future {
  background-color: var(--color-MediumAquaMarine);
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--color-darkslategray);
  font-size: 25px;
  color: white;
}

.deleteBtn {
  font-size: 25px;
  color: var(--color-darkslategray);
}

.saveBtn i:hover {
  font-size: 26px;
  color: var(--color-DarkSeaGreen);
}

.deleteBtn i:hover {
  font-size: 26px;
  color: var(--color-LightCoral);
}
